@tailwind base;
@tailwind components;
@tailwind utilities;


.inp:focus {
    border-color: green;
    outline: none; /* Removes the default focus outline */
}

body{
    --tw-bg-opacity:1;
    background-color: rgb(241, 202, 111)
}